
.o-video{
  padding-bottom: 10vh;
  padding-top: 15vh;

    iframe{
      left:0;
      top:0;
      height:100%;
      width:100%;
      // left: 10%;
      // right: 10%;
      position:absolute;
      z-index: 10;
    }

    .video-cont{
      overflow:hidden;
      padding-bottom:56.25%;
      position:relative;
      height:0;
      top: 10vw;
    }
}
