#form{
margin: 0 15vw 0 15vw;
border: 2px dashed white;
border-radius: 3px;
padding-bottom: 5vw;
padding-top: 3vw;
font-size: 4vw;
color: white;
}

br{

}

 #first_name, #last_name{
   display: block;
   height: 10vw;
   width: 80%;
   margin-left: 10%;
   font-size: 4vw;
   margin-bottom: 0.5vw;
}

textarea{
  height: 30vw;
  width: 80%;
  font-size: 4vw;
  margin-top: 1vw;
  padding-top: 1vw;
}


#send {
  opacity: 0.7;
  background: white;
  color: black;
  height: 6vw;
  width: 30%;
  margin-top: 3vw;
  border-radius: 1vw;
  font: 4vw 'Roboto Condensed', sans-serif;
  line-height: 1vw;
  border: none;
  outline: none;
  filter: alpha(opacity=70);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  }

  #send:hover, .active{
    opacity: 1;
    cursor: pointer;
    filter: alpha(opacity=100);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
  }

  @media (min-width: 400px){
    #form {
    margin: 0 25vw 0 25vw;
    font-size: 3vw;
    padding-bottom: 3vw;
    #first_name, #last_name{
      height: 7vw;
      // width: 70%;
      // margin-left: 15%;
      font-size: 3vw;
    }
    textarea{
      font-size: 3vw;
    }
  }
}

  @media (min-width: 900px){
    #form {
    margin: 0 30vw 0 30vw;
    font-size: 2.5vw;
    padding-bottom: 3vw;
    #first_name, #last_name{
      height: 5vw;
      // width: 70%;
      // margin-left: 15%;
      font-size: 2.5vw;
    }

    textarea{
      height: 20vw;
      // width: 70%;
      font-size: 2.5vw;
    }
  }

   #send {
   height: 4vw;
   font-size: 3vw;
  }
}

@media (min-width: 1200px){
  #form {
  margin: 0 35vw 0 35vw;
  padding-bottom: 3vw;
  font-size: 2vw;
  #first_name, #last_name{
    height: 3vw;
    width: 60%;
    margin-left: 20%;
    font-size: 2vw;
  }

  textarea{
    height: 20vw;
    width: 25vw;
    font-size: 2vw;
    margin-top: 0vw;
  }
}

 #send {
 height: 3vw;
 font-size: 2vw;
 margin-top: 1vw;
}
}
