.c-page-title {
  display: block;
  font-size: 8vw;
  color: white;
  margin: auto;
  margin-bottom: 15vh;
  text-align: center;
  z-index: 12;
}
@media (min-width: 900px){
  .c-page-title {
    font-size: 6vw;
    top: 11vw;
  }
}
@media (min-width: 1200px){
  .c-page-title {
    top: 10vw;
  }
}
