
#c-scroll{
  display: none;
  opacity: 0;
  position: fixed;
  bottom: 15vw;
  left: 4.5vw;
  width: 10vw;
  transform: rotate(-90deg);
  z-index: 20;
}

#c-scroll.active{
  display: block;
  opacity: 0.7;
}

#c-scroll:hover{
  cursor: pointer;
}

@media (min-width: 400px) {
  #c-scroll{
    bottom: 5vw;
    left: 5.5vw;
    width: 6vw;
  }
}
@media (min-width: 900px) {
  #c-scroll{
    bottom: 2.5vw;
    left: 4vw;
    width: 4vw;
  }
}
@media (min-width: 1200px) {
  #c-scroll{
    bottom: 4vw;
    left: 5vw;
    width: 3.5vw;
  }
}
