.c-social {
position: fixed;
top: 11vw;
right: 3vw;
z-index: 20;
  filter: invert(100%);
}


.fb {
  position: absolute;
  right: 1vw;
  width: 8vw;
  opacity: 0.7;
  filter: alpha(opacity=70);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;

}
@media (min-width: 400px) {
  .fb{
  right: 2vw;
  width: 6vw;
}
}
@media (min-width: 900px) {
  .fb{
  top: -1vw;
  right: 1vw;
  width: 4vw;
}
}
@media (min-width: 1200px) {
  .fb{
  top: -1vw;
  right: 9vw;
  width: 3vw;
}
}

.fb:hover{
  opacity: 1;
  cursor: pointer;
  filter: alpha(opacity=100);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.insta {
  position: absolute;
  top: 9vw;
  right: 1vw;
  width: 8vw;
  opacity: 0.7;
  filter: alpha(opacity=70);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
@media (min-width: 400px) {
  .insta{
  top: 6.5vw;
  right: 2vw;
  width: 6vw;
}
}
@media (min-width: 900px) {
  .insta{
  top: 3.5vw;
  right: 1vw;
  width: 4vw;
}
}
@media (min-width: 1200px) {
  .insta{
  top: -1.07vw;
  right: 5.3vw;
  width: 3vw;
}
}

.insta:hover{
  opacity: 1;
  cursor: pointer;
  filter: alpha(opacity=100);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.li {
  position: absolute;
  top: 18vw;
  right: 1vw;
  width: 8vw;
  opacity: 0.7;
  filter: alpha(opacity=70);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
@media (min-width: 400px) {
  .li{
  top: 13vw;
  right: 2vw;
  width: 6vw;
}
}
@media (min-width: 900px) {
  .li{
  top: 8vw;
  right: 1vw;
  width: 4vw;
}
}
@media (min-width: 1200px) {
  .li{
  top: -1vw;
  right: 1.7vw;
  width: 3vw;
}
}

.li:hover{
  opacity: 1;
  cursor: pointer;
  filter: alpha(opacity=100);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
