html{
  font-family: 'Roboto Condensed', sans-serif;

}

body{
margin-bottom: 3vw;
background-color: rgb(1, 1, 1);
background-image: url("../assets/img/ruka.jpg");
background-size: 100%;
background-repeat: no-repeat;
background-attachment: fixed;
 }
