.p-about{
  display: block;
  color: white;
  width: 60vw;
margin: auto;
margin-top: 20vw;
  position: relative;
  text-align: center;
  font-size: 3vw;

  img{
    margin: auto;
    margin-top: 10vw;
    margin-bottom: 10vw;
    width: 45%;
  }
}
