.p-index{
  display: block;
  color: white;
  width: 70vw;
margin: auto;
margin-top: 20vw;
  position: relative;
  text-align: center;
  font-size: 4vw;

  h3{
    margin-top: 40vw;
    margin-bottom: -25vw;
    font-size: 4vw;
  }

}

@media (min-width: 400px){
  .p-index{
    font-size: 3vw;
    h3{
      font-size: 3.5vw;
      margin-bottom: -27vw;
    }
  }
}

@media (min-width: 900px){
  .p-index{
    font-size: 2vw;
    width: 60vw;
    h3{
      font-size: 3vw;
      margin-bottom: -27vw;
    }
  }
}
