.p-index{
  color: white;
  width: 70vw;
  margin: auto;
  padding-top: 12vw;
  position: relative;
  text-align: center;
  font-size: 4vw;
  @include breakpoint(phoneLandscape){
    font-size: 3vw;
  };

  h3{
    margin-bottom: 5vw;
    font-size: 6vw;
    @include breakpoint(phoneLandscape){
      font-size: 5vw;
      margin-bottom: 4vw;
    };
  }
}

// @media (min-width: 400px){
//   .p-index{
//     font-size: 3vw;
//     h3{
//       font-size: 5vw;
//       margin-bottom: 4vw;
//     }
//   }
// }

@media (min-width: 900px){
  .p-index{
    font-size: 2vw;
    width: 60vw;
    h3{
      font-size: 3vw;
    }
  }
}
