.p-projects{
  display: block;
  color: white;
  width: 70vw;
margin: auto;
margin-top: 20vw;
  position: relative;
  text-align: center;
  font-size: 4vw;

  h3{
    font-size: 4vw;
  }
  p{
    margin-top: 13vw;
  }

}

.projects-list a{
  color: white;
  text-decoration: none;
  font-size: 6vw;


}
.projects-list li{
  text-align: center;
  padding: 1.5vw 0;
  margin-left: 20vw;
  margin-right: 20vw;
border: 2px dashed white;
}
