.p-thanks{
  color: white;
  width: 70vw;
  margin: auto;
  padding-top: 12vw;
  position: relative;
  text-align: center;
  font-size: 4vw;
  @include breakpoint(phoneLandscape){
    font-size: 3vw;
  };

  h3{
    margin-top: 40vw;
    margin-bottom: 70vw;
    font-size: 7vw;
    @include breakpoint(phoneLandscape){
      font-size: 7vw;
      margin-bottom: 60vw;
    };
  }
}

@media (min-width: 900px){
  .p-thanks{
    font-size: 2vw;
    width: 60vw;
    h3{
      font-size: 5vw;
      margin-top: 20vw;
      margin-bottom: 10vw;
    }
  }
}
