
.b-footer{
  position: relative;
  border-top: 1px solid white;
  width: 70%;
  margin: auto;
  top: 5vw;
  // bottom: -20vw;
  z-index: 10;
}

.phone{
  text-align: center;
  width: 60%;
  margin-left: 20%;
}

.mail{
  text-align: center;
  width: 60%;
  margin-left: 20%;

}

.phone-img{
  display: inline-block;
  width: 7vw;
  opacity: 0.7;
  padding: 0.6vw;
  filter: invert(100%);
}
.phone_link {
  display: inline-block;
  font-size: 4vw;
  position: relative;
  top: -1.5vw;
  a{
  color: white;
  text-decoration: underline;
   }
}


.mail-img{
  display: inline-block;
  width: 7vw;
  opacity: 0.7;
  padding: 0.6vw;
  filter: invert(100%);
}
.mail_link {
  display: inline-block;
  font-size: 4vw;
  position: relative;
  top: -2vw;
  a{
  color: white;
  text-decoration: underline;
   }
}

@media (min-width: 900px){
  .b-footer{
    border-top: solid 1.5px white;
    width: 80%;
    a{
      font-size: 2.5vw;
    }
    .mail_link{
      top: -1.5vw;
    }
    .phone-img{
      width: 5vw;
    }
    .mail-img{
      width: 5vw;
    }
  }
}
@media (min-width: 1200px){
  .b-footer{
    width: 90%;
    .phone-img{
      width: 4.5vw;
    }
    .mail-img{
      width: 4.5vw;
    }
}

}
