.b-header{
  width: 100%;
  position: fixed;
  padding-top: 1vw;
  z-index: 100;

  h1 {
    position: relative;
    font-size: 9vw;
    font-weight: bold;
    width: 100%;
    text-align: center;
    color: white;
    z-index: 4;
    opacity: 0.9;
    a{
      color: white;
      text-decoration: none;
    }
        &::after{
          display: block;
          content: "";
          position: absolute;
          bottom: -1vw;
          width: 70%;
          height: 1px;
          background: white;
          left: 15%;
          opacity: 1;
        }
  }

  .mask{
    width: 100%;
    position: absolute;
    height: 12vw;
    top: -2vw;
    background: black;
    opacity: 0.8;
    z-index: -10;
  }
}
@media (min-width: 900px){
  .b-header h1{
    font-size: 7vw;
    .mask{
      height: 10.5vw;
    }
    &::after{
      height: 2px;
      width: 80%;
      left: 10%;
      bottom: -1.7vw;
    }
  }
}
@media (min-width: 1200px){
  .b-header h1{
    .mask{
      height: 9.9vw;
    }
    &::after{
      height: 2px;
      width: 90%;
      left: 5%;
      bottom: -1vw;
    }
  }
}
