.b-new-video{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  top: 30vw;

  iframe{
    left:0;
    top:0;
    height:70%;
    width:70%;
    left: 15%;
    right: 15%;
    position:absolute;
    z-index: 1;
  }
}
