.b-new-video{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  margin-bottom: 25vh;

  iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    z-index: 1;
  }
}

@media (min-width: 900px){
  .b-new-video{
   margin-bottom: 15vh;
  }
}
